.login-form {
				max-width: 300px;
}
.login-form-forgot {
				float: right;
}
.login-form-button {
				width: 100%;
}
.login-form-main{
				width:100%;
				text-align: center;
				left:50%;
				top:50%;
}
